load/libraries/__pycache__/*
load/__pycache__/*

modules/players/libraries/__pycache__/*
modules/players/__pycache__/*

modules/events/libraries/__pycache__/*
modules/events/__pycache__/*

modules/matches/libraries/__pycache__/*
modules/matches/__pycache__/*

modules/teams/libraries/__pycache__/*
modules/teams/__pycache__/*